- name: install gandalf-server
  apt: state=present update_cache=yes cache_valid_time=86400 name=gandalf-server

- name: create git hooks folder
  file: state=directory path={{ tsuru_gandalf_config.git.bare.template }}/hooks owner=git group=git mode=0755

- name: copy git hook
  get_url: url={{ tsuru_git_hook_url }} dest={{ tsuru_gandalf_config.git.bare.template }}/hooks/{{ tsuru_git_hook }} force=yes

- name: list repos
  shell: ls /var/lib/gandalf/repositories
  register: repos

- name: replace git hook on existing apps
  get_url: url={{ tsuru_git_hook_url }} dest=/var/lib/gandalf/repositories/{{ item }}/hooks/{{ tsuru_git_hook }} force=yes
  with_items: repos.stdout_lines

- name: configure gandalf-server
  template: src=gandalf.conf.j2 dest=/etc/gandalf.conf owner=root group=root mode=0644
  notify:
    - restart gandalf-server

- name: check for .bash_profile
  stat: path=/home/{{ tsuru_gandalf_config.uid }}/.bash_profile
  register: git_bash_profile

- name: generate .bash_profile
  template: src=bash_profile.j2 dest=/home/{{ tsuru_gandalf_config.uid }}/.bash_profile owner={{ tsuru_gandalf_config.uid }} group={{ tsuru_gandalf_config.uid }} mode=0644
  when: git_bash_profile.stat.exists is defined and git_bash_profile.stat.exists == False

- name: check for tsuru token in .bash_profile
  shell: cat /home/{{ tsuru_gandalf_config.uid }}/.bash_profile | grep TSURU_TOKEN=
  register: git_bash_profile
  ignore_errors: true
  changed_when: false

- name: generate tsuru token
  shell: tsr token
  register: tsr_token
  when: not git_bash_profile.stdout | match('export TSURU_TOKEN=[a-f0-9]+')

- name: write tsuru token to .bash_profile
  lineinfile:
    state: present
    dest: /home/{{ tsuru_gandalf_config.uid }}/.bash_profile
    regexp: export TSURU_TOKEN=
    line: export TSURU_TOKEN={{ tsr_token.stdout }}
  when: tsr_token | changed
